{% extends "../base.html"%}
{% load static %}

{%block template%}
<div class="container">
  <a class="btn btn-secondary my-3" href="/productos/"
  >&#10232; Volver a Productos</a>
  <h1 class="h1 mb-3 text-center">Guardar Producto</h1>

  <form action="" id="productosForm">
    <div class="d-flex ">
      <div class="me-4 d-flex flex-column w-50 ">
        <div class="form-floating mb-3">
          <input name="cod_prod" id="cod_prod" class="form-control" type="text" placeholder="Codigo producto" required
            data-tipo="codigo" />
          <label for="cod_prod">Codigo del producto</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-select" id="id_categoria" name="id_categoria" required>
          </select>
          <label for="id_categoria">Categorías</label>
        </div>
        <div class="form-floating mb-3">
          <input name="color" id="color" class="form-control" type="text" placeholder="Stock minimo" required />
          <label for="color">Color</label>
        </div>
        <input type="file" class="form-control" id="foto" name="foto">
      </div>
      <div class="d-flex flex-column w-50">
        <div class="form-floating mb-3">
          <input name="descripcion" id="descripcion" class="form-control" type="text" placeholder="Descripcion del producto"
            required />
          <label for="descripcion">Descripcion del producto</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-select" id="id_marca" name="id_marca" required>
          </select>
          <label for="id_marca">Marca</label>
        </div>
        <div class="form-floating mb-3">
          <input name="precio" id="precio" class="form-control" type="number" placeholder="Precio unitario:"
            data-tipo="precio"  required/>
          <label for="precio">Precio recomendado de venta</label>
        </div>
      </div>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-secondary mt-4 w-50">Guardar producto</button>
    </div>
  </form>
</div>
{%endblock%}

{%block script%}
<script>

  async function revisarDatos() {
    let base64Image = '';  
    const input = document.getElementById('foto');
    if (input.files.length > 0) {
      const file = input.files[0];
      const reader = new FileReader();
      reader.onload = function(event) {
        base64Image = event.target.result;
        guardarProducto(base64Image);
      };
      
      reader.readAsDataURL(file);
    } else {
      guardarProducto("");
    }

  }
  async function guardarProducto(image){
    const currentUrl = window.location.href;
    const urlBase = currentUrl.split("/")[2];
    const protocolo = currentUrl.split(":")[0];
    const url = protocolo + "://" + urlBase;
    const form = document.getElementById("productosForm");
    const elements = form.elements;
    console.log("IMAGE TO SEND:"+image);
    const data = {
      "cod_prod": elements.cod_prod.value,
      "descripcion": elements.descripcion.value,
      "id_marca": elements.id_marca.value,
      "color": elements.color.value,
      "id_categoria": elements.id_categoria.value,
      "foto": image,
      "precio": elements.precio.value,
    }
    const headers = new Headers({
      'Authorization': `Token ${localStorage.getItem('token')}`,
      'Content-Type': 'application/json'
    });
    let response = await fetch(`${url}/api/guardarProducto/`, {
      method: 'POST',
      body: JSON.stringify(data),
      headers: headers
    })
      .then(function (response) {
        if (response.ok) {
          return response.text()
        } else {
          throw "Error en la llamada";
        }

      })
      .then(function (texto) {
        return texto;
      })
      .catch(function (err) {
        var respuesta = '{"success":false,"error":true,"msg":"' + err + '"}';
        return respuesta;
      });
    response = JSON.parse(response);
    if (response.success) {
      alert(response.message);
      location.href ='/productos/';

    } else {
      alert(response.message);
    }

  }
  document.addEventListener("DOMContentLoaded", async function () {
    const currentUrl = window.location.href;
    const urlBase = currentUrl.split("/")[2];
    const protocolo = currentUrl.split(":")[0];
    const url = protocolo + "://" + urlBase;
    const headers = new Headers({
      'Authorization': `Token ${localStorage.getItem('token')}`
    });
    let categorias = await fetch(`${url}/api/categorias`, {
      method: 'GET',
      headers:headers
    })
      .then(function (response) {
        if (response.ok) {
          return response.text()
        } else {
          throw "Error en la llamada";
        }

      })
      .then(function (texto) {
        return texto;
      })
      .catch(function (err) {
        var respuesta = '{"success":false,"error":true,"msg":"' + err + '"}';
        return respuesta;
      });
    categorias = JSON.parse(categorias);
    let listaCategorias = "<option value='0' hidden selected >Seleccione una categoria</option>";
    if (categorias.success) {
      categorias.data.forEach(element => {
        listaCategorias += `<option value='${element.id_categoria}'>${element.categoria}</option>`;
      });
    }
    const selectElement = document.getElementById('id_categoria');
    selectElement.innerHTML = listaCategorias;



    let marcas = await fetch(`${url}/api/marcas`, {
      method: 'GET',
      headers:headers
    })
      .then(function (response) {
        if (response.ok) {
          return response.text()
        } else {
          throw "Error en la llamada";
        }

      })
      .then(function (texto) {
        return texto;
      })
      .catch(function (err) {
        var respuesta = '{"success":false,"error":true,"msg":"' + err + '"}';
        return respuesta;
      });

    marcas = JSON.parse(marcas);
    let listaMarcas = "<option value='0'>Seleccione una marca</option>";
    if (marcas.success) {
      marcas.data.forEach(element => {
        listaMarcas += `<option value='${element.id_marca}'>${element.nombre_marca}</option>`;
      });
    }
    const selectElement2 = document.getElementById('id_marca');
    selectElement2.innerHTML = listaMarcas;


    const form = document.getElementById('productosForm');
    form.addEventListener('submit', function (event) {
      event.preventDefault();
      revisarDatos();
    });

  });

  
</script>
{%endblock%}