{% extends "../base.html"%}
{% load static %}

{%block template%}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<div class="container-fluid p-0">
    <h3>Datos de la factura</h3>
    <form action="" id="productosForm">
        <div class="row mb-3">
            <div class="col-3">
                <div class="form-floating mb-3">
                    <input name="numero_factura" id="numero_factura" class="form-control" type="text"
                        placeholder="Numero de factura fiscal" required />
                    <label for="numero_factura">Numero de factura fiscal</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-floating mb-3">
                    <input name="fecha_fact" id="fecha_fact" class="form-control" type="text"
                        placeholder="Fecha de la factura" required />
                    <label for="fecha_fact">Fecha</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-floating mb-3">
                    <select class="form-select" id="id_proveedor" name="id_proveedor">
                    </select>
                    <label for="id_proveedor">Proveedor</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-floating mb-3">
                    <input name="descuento" id="descuento" class="form-control" type="number" placeholder="Descuento"
                        required value="0" min="0" max="100"/>
                    <label for="descuento">Descuento</label>
                </div>
            </div>
        </div>
    </form>
    <h3>Productos a ingresar</h3>
    <hr>
    <div class="row mb-4">
        <div class="col">
            <select class="form-select" id="bodega" name="bodega">
                <option hidden selected>Seleccione un almacen</option>
            </select>
        </div>
        <div class="col">
            <select class="form-select" id="cod_prod" name="cod_prod">
                <option hidden selected>Productos</option>
            </select>
        </div>
        <div class="col">
            <select class="form-select" id="talla" name="talla">
                <option hidden selected value="0">Tallas</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
                <option>32</option>
                <option>33</option>
                <option>34</option>
                <option>35</option>
                <option>36</option>
                <option>37</option>
                <option>38</option>
                <option>39</option>
                <option>40</option>
                <option>41</option>
                <option>42</option>
                <option>43</option>
                <option>44</option>
                <option>45</option>
            </select>
        </div>
        <div class="col">
            <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Cantidad" />
        </div>
        <div class="col">
            <input type="number" class="form-control" id="costo" name="costo" placeholder="Costo Unitario" />
        </div>
        <div class="col">
            <div>
                <button class="btn btn-secondary h-75" onclick="agregarProducto()">Agregar producto</button>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Bodega</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Talla</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Total</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody id="tablaProductos">
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Total</th>
                    <th scope="col" id="totalTabla">$0.00</th>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Total con descuento</th>
                    <th scope="col" id="totalDescTabla">$0.00</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            <div class="col">
                <button class="btn btn-secondary h-75" onclick="guardarInventario()">Guardar factura</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        let contador = 1;
        let total = 0;
        const currentUrl = window.location.href;
        const urlBase = currentUrl.split("/")[2];
        const protocolo = currentUrl.split(":")[0];
        const url = protocolo + "://" + urlBase;
        document.addEventListener("DOMContentLoaded", async function () {
            const headers = new Headers({
                'Authorization': `Token ${localStorage.getItem('token')}`
            });
            let bodegas = await fetch(`${url}/api/bodegas`, {
                method: 'GET',
                headers: headers
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.text()
                    } else {
                        throw "Error en la llamada";
                    }

                })
                .then(function (texto) {
                    return texto;
                })
                .catch(function (err) {
                    var respuesta = '{"success":false,"error":true,"msg":"' + err + '"}';
                    return respuesta;
                });
            bodegas = JSON.parse(bodegas);
            let listaBodegas = "<option value='0' hidden selected>Seleccione una bodega</option>";
            if (bodegas.success) {
                bodegas.data.forEach(element => {
                    listaBodegas += `<option value='${element.id_sucursal}'>${element.nom_sucursal}</option>`;
                });
            }
            const selectElement = document.getElementById('bodega');
            selectElement.innerHTML = listaBodegas;

            let proveedores = await fetch(`${url}/api/proveedores`, {
                method: 'GET',
                headers: headers
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.text()
                    } else {
                        throw "Error en la llamada";
                    }

                })
                .then(function (texto) {
                    return texto;
                })
                .catch(function (err) {
                    var respuesta = '{"success":false,"error":true,"msg":"' + err + '"}';
                    return respuesta;
                });

            proveedores = JSON.parse(proveedores);
            let listaProveedores = "<option value='0' hidden selected>Seleccione una proveedor</option>";
            if (proveedores.success) {
                proveedores.data.forEach(element => {
                    listaProveedores += `<option value='${element.cod_proveedor}'>${element.nom_proveedor}</option>`;
                });
            }
            const selectProveedores = document.getElementById('id_proveedor');
            selectProveedores.innerHTML = listaProveedores;

            let productos = await fetch(`${url}/api/productos`, {
                method: 'GET',
                headers: headers
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.text()
                    } else {
                        throw "Error en la llamada";
                    }

                })
                .then(function (texto) {
                    return texto;
                })
                .catch(function (err) {
                    var respuesta = '{"success":false,"error":true,"msg":"' + err + '"}';
                    return respuesta;
                });

            productos = JSON.parse(productos);
            let listaProductos = "<option value='0' hidden selected >Productos</option>";
            if (productos.success) {
                productos.data.forEach(element => {
                    listaProductos += `<option value='${element.cod_prod}'>${element.cod_prod}</option>`;
                });
            }
            const selectElement2 = document.getElementById('cod_prod');
            selectElement2.innerHTML = listaProductos;
            $('#cod_prod').select2();
            $('#talla').select2();

            var inputFecha = document.getElementById('fecha_fact');

        // Obtener la fecha actual
        var fechaActual = new Date();

        // Formatear la fecha en formato 'dd/mm/YYYY'
        var dia = ('0' + fechaActual.getDate()).slice(-2);
        var mes = ('0' + (fechaActual.getMonth() + 1)).slice(-2);
        var anio = fechaActual.getFullYear();
        var fechaFormateada = dia + '/' + mes + '/' + anio;

        // Establecer la fecha formateada como el valor del campo de entrada
        inputFecha.value = fechaFormateada;

        });

        agregarProducto = () => {
            const table = document.getElementById('tablaProductos');
            const bodega = document.getElementById("bodega");
            const nombreBodega = bodega.options[bodega.selectedIndex].textContent;

            const codProd = document.getElementById("cod_prod");
            const talla = document.getElementById("talla");
            const cantidad = document.getElementById("cantidad");
            const costo = document.getElementById("costo");
            const descuento = document.getElementById("descuento");

            if (bodega.value == 0) {
                alert("Seleccione una bodega");
                return;
            } else if (cod_prod.value == 0) {
                alert("Seleccione un producto");
                return;
            } else if (talla.value == 0) {
                alert("Seleccione una talla");
                return;
            } else if (cantidad.value <= 0) {
                alert("La cantidad debe ser mayor que 0");
                return;
            }else if (costo.value <= 0) {
                alert("El costo debe ser mayor que 0");
                return;
            }
            const totalActual = cantidad.value * costo.value;
            total = total + totalActual
            console.log("TOtal:"+total);
            console.log("desc:"+descuento.value);
            const totalConDecuento = (descuento.value > 0) ? (total - (total * (descuento.value/100))) : total;
            console.log("desc:"+totalConDecuento);

            const html = `
            <tr>
                <th scope="row">${contador}</th>
                <td class="bedagasTabla" value="${bodega.value}">${nombreBodega}</td>
                <td class="productosTabla">${codProd.value}</td>
                <td class="tallasTabla">${talla.value}</td>
                <td class="cantidadTabla">${cantidad.value}</td>
                <td class="costoTabla">${costo.value}</td>
                <td class="totales">${totalActual}</td>
                <td><a onClick="remover(this)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-delete align-middle me-2"><path d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path><line x1="18" y1="9" x2="12" y2="15"></line><line x1="12" y1="9" x2="18" y2="15"></line></svg></a></td>
            </tr>`;
            table.innerHTML += html
            contador++;
            $("#totalTabla").html('$'+parseFloat(total).toFixed(2));
            $("#totalDescTabla").html('$'+parseFloat(totalConDecuento).toFixed(2));
            codProd.value = 0;
            talla.value = 0;
            cantidad.value = '';
        }

        remover = (element) => {
            const table = element.parentElement.parentElement.parentElement;
            const row = element.parentElement.parentElement;
            const valor = row.querySelector('.totales').textContent;
            const descuento = document.getElementById("descuento");

            if (table) {
                total = total - valor;
                const totalConDecuento = (descuento.value > 0) ? (total - (total * (descuento.value/100))) : total;

                $("#totalTabla").html('$'+parseFloat(total).toFixed(2));
                $("#totalDescTabla").html('$'+parseFloat(totalConDecuento).toFixed(2));
                table.removeChild(row);
            }
        }

        guardarInventario = async () => {
            const types = ['.bedagasTabla', '.productosTabla', '.tallasTabla', '.cantidadTabla', '.costoTabla', '.totales'];
            const data = ['bodegas', 'productos', 'tallas', 'cantidades', 'costos', 'totales'];
            var formData = new FormData();

            for (let i = 0; i < types.length; i++) {
                const elementos = document.querySelectorAll(types[i]);
                console.log("ADDING:"+types[i]);
                for (const elemento of elementos) {
                    if (types[i] == ".bedagasTabla") {
                        formData.append(`${data[i]}[]`, elemento.getAttribute('value'));
                    } else {
                        formData.append(`${data[i]}[]`, elemento.textContent);
                    }
                }
            }
            const descuento = document.getElementById("descuento");
            const totalConDecuento = (descuento.value > 0) ? (total - (total * (descuento.value/100))) : total;
            const numfac = document.getElementById("numero_factura").value;
            const fecha = document.getElementById("fecha_fact").value;
            const id_proveedor= document.getElementById("id_proveedor").value;

            formData.append("numfac",numfac)
            formData.append("fecha",fecha)
            formData.append("id_proveedor",id_proveedor)
            formData.append("descuento",descuento.value)
            formData.append("total",total)
            formData.append("totalDesc",totalConDecuento)

            // const [listaBodegas, listaProductos, listaTallas, listaCantidades] = dataArrays;
            const headers = new Headers({
                'Authorization': `Token ${localStorage.getItem('token')}`
            });
            let response = await fetch(`${url}/api/guardarInventario/`, {
                method: 'POST',
                body: formData,
                headers: headers
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.text()
                    } else {
                        throw "Error en la llamada";
                    }

                })
                .then(function (texto) {
                    return texto;
                })
                .catch(function (err) {
                    var respuesta = '{"success":false,"error":true,"msg":"' + err + '"}';
                    return respuesta;
                });
            response = JSON.parse(response);
            if (response.success) {
                alert(response.message);
                location.href = '/inventario/';

            } else {
                alert(response.message);
            }


        }
    </script>
    {%endblock%}