{% extends "../base.html"%}
{% load static %}
{%block template%}
<link
  href="https://cdn.datatables.net/1.13.6/css/dataTables.jqueryui.min.css"
  rel="stylesheet"
/>
<div class="container-fluid p-0">
  
  <div class="row ">
    <div class="col-2">
      <label for="">Reporte por producto</label>
    </div>
    <div class="col-3">
      <select class="form-select" id="productos" name="productos">
        <option hidden selected>Producto</option>
      </select>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-secondary" onclick="generarReporteTalla()">Generar reporte</button>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-secondary" onclick="descargarReporteTalla()">Descargar reporte</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-5">
      <label for="">Reporte general</label>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-secondary " onclick="generarReporte()">
        Generar Reporte
      </button>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-secondary " onclick="descargarReporte()">
        Descargar Reporte
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2">
      <label for="">Reporte de compras</label>
    </div>
    <div class="col-3">
      <input class="form-select" id="datepicker" name="datepicker" type="text" placeholder="Seleccione una fecha"/>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-secondary" onclick="generarReporteCompras()">Generar reporte</button>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-secondary" onclick="descargarReporteCompras()">Descargar reporte</button>
    </div>
  </div>
</div>

{%endblock%}

{%block script%}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>
  $(document).ready(function() {
    const date = new Date()
    console.log(date);
    $("#datepicker").datepicker({
        dateFormat: "dd/mm/yy",
        defaultDate: new Date() 
    });
    var dia = date.getDate().toString().padStart(2, '0'); 
    var mes = (date.getMonth() + 1).toString().padStart(2, '0'); 
    var anio = date.getFullYear();
    var fechaFormateada = `${dia}/${mes}/${anio}`;
    $("#datepicker").val(fechaFormateada)
  });

  const currentUrl = window.location.href;
  const urlBase = currentUrl.split("/")[2];
  const protocolo = currentUrl.split(":")[0];
  const url = protocolo + "://" + urlBase;
  function generarReporte() {
    window.open(`${url}/cuerpo/`, '_blank');

    // window.location.href = `${url}/cuerpo/`;
  }
  function descargarReporte() {
    window.location.href = `${url}/cuerpo/?descargar=1`;
  }

  document.addEventListener("DOMContentLoaded", async function () {
    const headers = new Headers({
      Authorization: `Token ${localStorage.getItem("token")}`,
    });
    let productos = await fetch(`${url}/api/productos`, {
      method: "GET",
      headers: headers,
    })
      .then(function (response) {
        if (response.ok) {
          return response.text();
        } else {
          throw "Error en la llamada";
        }
      })
      .then(function (texto) {
        return texto;
      })
      .catch(function (err) {
        var respuesta = '{"success":false,"error":true,"msg":"' + err + '"}';
        return respuesta;
      });

    productos = JSON.parse(productos);
    let listaProductos = "<option value='0' hidden selected>Productos</option>";
    if (productos.success) {
      productos.data.forEach((element) => {
        listaProductos += `<option value='${element.cod_prod}'>${element.cod_prod}</option>`;
      });
    }
    const selectElement2 = document.getElementById("productos");
    selectElement2.innerHTML = listaProductos;
  });
  
  function generarReporteTalla() {
    const cod_prod = document.getElementById("productos").value;
    if (cod_prod == "" || cod_prod == "0") {
      alert("Seleccione un producto");
      return;
    }
    window.open(`${url}/reporteportalla/?cod_prod=${cod_prod}`, '_blank');
  }
  
  function descargarReporteTalla() {
    const cod_prod = document.getElementById("productos").value;
    if (cod_prod == "" || cod_prod == "0") {
      alert("Seleccione un producto");
      return;
    }
    window.location.href = `${url}/reporteportalla/?cod_prod=${cod_prod}&descargar=1`
  }
  
  function generarReporteCompras() {
    const fecha = document.getElementById("datepicker").value;
    if (fecha == "") {
      alert("Seleccione una fecha")
    }
    
    window.open(`${url}/reporteporcompras/?fecha=${fecha}`, '_blank');
  }
  
  function descargarReporteCompras() {
    const fecha = document.getElementById("datepicker").value;
    if (fecha == "") {
      alert("Seleccione una fecha")
    }
    window.location.href = `${url}/reporteporcompras/?fecha=${fecha}&descargar=1`
  }
  
</script>
{%endblock%}